
.aktivni-pozadina{
    background-color: rgb(20, 20, 20);
    height: 100vh;
    color: white;
  }
  
  .box-aktivni{
      color: red;
  }
  .table1{
      color: white;
  }
  
  
  
  
  /*====== . Media query -----------*/
  @media only screen and (min-width: 1200px) {
      .table {
        padding: 10px;
        margin: 10px;
      }
    }
  